@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.faq_cover{
    font-family: "Poppins", sans-serif;
    position: relative;
}
.faq_title{
    position: absolute;
    left: 46%;
    bottom: 35%;
}
.faq_title p{
    color: #cc9966;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.accordion {
    width: 100%;
}
 
.accordion-button {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    color: black;
    padding: 20px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
 
.accordion-button .icon {
    margin-left: 10px;
    color: rgb(193, 190, 190);
}
.accordion-content{
    color: black;
}
.accordion-button:hover,
.accordion-button .icons:hover{
    color: #cc9966;
    transition: all .3s ease-in-out;
}
.accordion-button:focus,
.icons:focus{
    color: #cc9966;
}

@media screen and (max-width: 500px) and (min-width: 300px){
    .faq_title{
        position: absolute;
        left: 35%;
        bottom: 35%;
    }
    .faq_container h2{
        font-size: 1.3rem;
    }
    .accordion-item h2{
        font-size: 1rem;
    }
}
