@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300&family=Work+Sans:wght@300&display=swap');


.lookBook h2 {
    font-family: "Playfair Display", serif;
}

.look_banner {
    width: 400px;
}

.title_look {
    position: absolute;
    bottom: 40%;
    left: 27%;
}

.pop {
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 500px) and (min-width: 300px){
    .lookBook{
        width: 300px;
        margin-top: 1.5rem;
    }
    .look_banner {
        width: 300px;
    }
    .pop{
        width: 200px;
    }
    .pop .pop_title{
        height: 140px;
    }
}