@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about {
    font-family: "Poppins", sans-serif;
}

.banner_text {
    position: absolute;
    bottom: 35%;
    left: 45%;
    font-weight: 400;
}

.weAre .first p {
    color: #cc9966;
}

.brands {
    border-bottom: 1px solid rgb(186, 186, 186);
}

.about .btn {
    border: 1px solid #cc9966;
    color: #cc9966;
}

.first_one img,
.second_one img,
.third_one img {
    height: 500px;
}


.team .first_one,
.team .second_one,
.team .third_one {
    position: relative;
    overflow: hidden;
}

.team .first_one img,
.team .second_one img,
.team .third_one img {
    transition: filter 0.3s ease;
}

.team .img_text {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
    border-radius: 5px;
}

.team .first_one:hover .img_text,
.team .second_one:hover .img_text,
.team .third_one:hover .img_text {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.team .first_one:hover .img_text:hover .sm:hover,
.team .second_one:hover .img_text:hover .sm:hover,
.team .third_one:hover .img_text:hover .sm:hover {
    color: #cc9966;
    cursor: pointer;
}


.team .img_text span {
    font-size: 14px;
}

@media screen and (max-width: 750px) and (min-width: 700px) {
    .banner_text {
        bottom: 50%;
    }

    .brands .brands_text {
        width: 280px;
    }
}

@media screen and (max-width: 1900px) and (min-width: 1500px) {
    .about_cover .banner_text {
        left: 47%;
        bottom: 50%;
    }
}

@media screen and (max-width: 1500px) and (min-width: 700px) {
    .about_cover .banner_text {
        left: 47%;
        bottom: 58%;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .about_cover .banner_text {
        bottom: 65%;
    }

    .brands .brands_text {
        width: 280px;
    }

    .about .our {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our .vision,
    .our .mission {
        width: 320px;
    }

    .who .weAre {
        width: 320px;
    }

    .brands .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .brands .brands_text {
        width: 280px;
    }

    .brands .brands_text h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px) and (min-width: 350px) {
    .about .banner_text {
        position: absolute;
        bottom: 67%;
        left: 10%;
    }

    .banner_text h2 {
        font-size: 1rem;
    }

    .brands {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .branIcon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .brands .brands_text {
        width: 280px;
    }

    .brands .brands_text h2 {
        font-size: 1.2rem;
    }

    .about .our {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our .vision,
    .our .mission {
        width: 320px;
    }

    .who .weAre {
        width: 320px;
    }
}