@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.slider-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.slider-text-overlay_nd {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
}

.slider-text-overlay_st {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

.slide_title,
.text-primary {
    color: #cc9966;
}

.slide-subtitle {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: "Playfair Display", serif;
}

.slide-description {
    font-size: 16px;
    font-family: "Playfair Display", serif;
}

.slider-btn:hover {
    background-color: #c15454;
    color: white;
}

.banner-text {
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
}

.col_text {
    position: absolute;
    text-align: center;
    z-index: 1;
    left: 70%;
    bottom: 20%;
    transform: translateX(-50%);
}

.quality_text {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
}

.banner-text h3,
.col_text h3,
.quality_text h3 {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: 400;
}

.banner-text .btn {
    padding: 10px;
    transition: all 0.3s ease;
    outline: none;
}

.banner-text .btn:hover {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.quality_cover {
    height: 70vh;
}

.col_text .btn:hover,
.quality_text .btn:hover {
    padding: 10px;
    border: 1px solid #cc9966;
    background-color: #cc9966;
    color: white;
}

.col_text .btn,
.quality_text .btn {
    transition: all 0.3s ease;
    border-bottom: 2px solid #cc9966;
    color: #cc9966;
    padding: 10px;
}

.banner-desc {
    font-family: "Playfair Display", serif;
}

.quality_subt,
.quality_desc {
    font-family: "Poppins", serif;
}

@media screen and (max-width: 1000px) and (min-width: 770px) {

    .slider-text-overlay_st {
        top: 55%;
        left: 40%;
    }

    .slider-text-overlay_st .slide_title,
    .slider-text-overlay_st .slide-subtitle,
    .slider-text-overlay_st .slide-description {
        font-size: 2.5rem;
    }

    .slider-text-overlay_st .slide-description span {
        font-size: 3rem;
    }

    .slide-description .slider-btn {
        font-size: 2rem;
    }

    .slider-text-overlay_nd {
        top: 55%;
        left: 70%;
    }

    .slider-text-overlay_nd .slide_title,
    .slider-text-overlay_nd .slide-subtitle,
    .slider-text-overlay_nd .slide-description {
        font-size: 2rem;
    }

    .col_banner .banner-desc {
        width: 400px;
    }

    .quality_banner .quality_title {
        width: 450px;
    }
}

@media screen and (max-width: 770px) and (min-width: 500px) {
    .banners .flex {
        flex-direction: column;
    }

    .banner-st,
    .banner-nd,
    .banner-rd {
        width: 100%;
    }

    .col_banner {
        text-align: center;
    }

    .col_text {
        left: 48%;
    }

    .slider-text-overlay_st {
        top: 50%;
        left: 40%;
    }

    .slider-text-overlay_st .slide_title,
    .slider-text-overlay_st .slide-subtitle,
    .slider-text-overlay_st .slide-description {
        font-size: 2rem;
    }

    .slider-text-overlay_nd {
        top: 55%;
        left: 80%;
    }

    .slider-text-overlay_nd .slide_title,
    .slider-text-overlay_nd .slide-subtitle,
    .slider-text-overlay_nd .slide-description {
        font-size: 1.8rem;
    }

    .quality_banner .quality_title {
        width: 480px;
    }

    .quality_text .quality_title {
        font-size: 1.5rem;
    }

    .quality_text .quality_subt {
        font-size: 14px;
    }

}

@media screen and (max-width: 500px) and (min-width: 300px) {
    .banners .flex {
        flex-direction: column;
    }

    .banner-st .banner-cover,
    .banner-nd .banner-cover,
    .banner-rd .banner-cover {
        width: 280px;
    }

    .slider-text-overlay_st {
        top: 50%;
        left: 40%;
    }

    .slider-text-overlay_st .slide_title,
    .slider-text-overlay_st .slide-subtitle,
    .slider-text-overlay_st .slide-description {
        font-size: 1rem;
    }

    .slider-text-overlay_nd {
        top: 55%;
        left: 60%;
    }

    .slider-text-overlay_nd .slide_title,
    .slider-text-overlay_nd .slide-subtitle,
    .slider-text-overlay_nd .slide-description {
        font-size: 1rem;

    }

    .slider-text-overlay_nd .slide-subtitle,
    .slider-text-overlay_nd .slide-description {
        width: 150px;
    }

    .quality_banner .quality_title {
        width: 300px;
    }

    .quality_text .quality_title {
        font-size: 1rem;
    }

    .quality_text .quality_subt {
        font-size: 14px;
    }

    .col_banner {
        text-align: center;
    }

    .col_text h3 {
        font-size: 1.3rem;
    }

    .col-cover {
        height: 90vh;
    }

    .col_banner .banner-desc {
        width: 300px;
        font-size: 12px;
    }

    .col_text {
        left: 45%;
    }

    .col_text .banner-desc {
        width: 300px;
    }

    .slider-slide .slider-btn {
        padding: 5px;
        width: 150px;
        font-size: 1rem;
    }

}