@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

.logo{
  font-family: "Fleur De Leah", cursive;
}
.icons span:hover,
.call:hover,
.login:hover,
.switch:hover,
.cart:hover,
.like:hover {
  color: #cc9966;
  cursor: pointer;
}
.qty{
    background-color: #cc9966;
}
.line{
  background-color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.line-icon{
  color: #cc9966;
}