@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300&family=Work+Sans:wght@300&display=swap');

.signIn {
    border: 1px solid #cc9966;
    color: #cc9966;
    padding: 10px;
    width: 100px;
}
.signIn:hover{
    background-color: #cc9966;
    color: #fff;
    transition: all .3s ease-in-out;
}
.sign_logo {
    color: #cc9966;
}

.form_title {
    border-bottom: 2px solid #cc9966;
}

.logIn {
    font-family: "Poppins", sans-serif;
}


/* @media screen and (max-width: 1000px) and (min-width: 700px){
    .form form{
        left: 20%;
    }
}
@media screen and (max-width: 700px) and (min-width: 500px){
    .form form{
        width: 320px;
        left: 15%;
    }
}
@media screen and (max-width: 500px) and (min-width: 350px){
    .form form{
        width: 300px;
        left: 10%;
    }
} */